@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
  --bg-primary-color: #1E1E1E;
  --bg-secundary-color: #262626;
  --bg-terciary-color: #E37E03;
  --bg-quaternary-color: #343A40;
  --bg-cinco-color: #626262;
  --bg-seis-color: #ffffff0d;
  --text-primary-color: #fff;
  --text-secundary-color: #ffffff40;
  --border-color: #00000033;
}

.text-primary-color {
  color: var(--text-primary-color);
}

.caladea-regular {
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: normal;
}

.caladea-bold {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-style: normal;
}

.caladea-regular-italic {
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: italic;
}

.caladea-bold-italic {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-style: italic;
}

.profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.profile-name {
  font-size: 14px;
  font-weight: 500;
}

.my-projects-font {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

.edit-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(22.5px, 47.5px);
}

.scroll-box-projects {
  overflow-y: auto;
  height: calc(100vh - 167.44px); /* ajusta o valor conforme a altura do topo */
  border: 10px solid transparent;
  border-left: 0;
  border-right: 0;
  list-style-type: none;
  padding: 0;
  scrollbar-color: var(--bg-secundary-color) var(--bg-seis-color);
}

.scroll-box-projects a li {
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.scroll-box-projects a li:hover {
  background-color: var(--bg-primary-color);
}

.scroll-box-projects a {
  color: var(--text-primary-color);
  text-decoration: none;
}

.icon-wrapper {
  position: relative;
  width: 76px;
  /* mesmo tamanho do maior svg */
  height: 76px;
}

.icon-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-wrapper-navbar {
  position: relative;
  margin-left: 2px;
  width: 30px;
  /* mesmo tamanho do maior svg */
  height: 30px;
}

.icon-wrapper-navbar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-icon-logo {
  width: 70px;
  height: 70px;
}

.small-icon-logo {
  width: 32px;
  height: 32px;
}

.big-icon-logo-navbar {
  width: 30px;
  height: 30px;
}

.small-icon-logo-navbar {
  width: 13.71px;
  height: 13.71px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.bg-image-left {
  background-image: url(../images/bg-login-left.png);
}

.bg-image-right {
  background-image: url(../images/bg-login-right.png);
}

.remember-check:checked {
  accent-color: #e37e03;
}

.togglePassword {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.password-wrapper {
  position: relative;
}

.bg-primary-color {
  background-color: var(--bg-primary-color);
}

.bg-secundary-color {
  background-color: var(--bg-secundary-color);
}

.bg-terciary-color {
  background-color: var(--bg-terciary-color);
}

.search-icon {
  height: 30px;
  margin-left: 5px;
}

.search-bar {
  background-color: #00000026;
  height: 30px;
  padding-left: 20px;
   border: 1px solid var(--border-color);
}

.search-bar::placeholder {
  color: var(--bg-secundary-color);
}

.scroll-box {
  overflow-y: auto;
  height: 100%;
  border: 10px solid var(--bg-primary-color);
}

.project-card {
  background-color: var(--bg-secundary-color);
  color: var(--text-secundary-color);
  height: 260px;
  width: 220px;
  margin: 25px 20px 30px 45px;
  border-radius: 15px;
  border: 1px solid var(--bg-quaternary-color);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.08);
  text-decoration: none;
  color: var(--text-secundary-color);
}

.project-card:hover .square-add-icon {
  background-color: var(--bg-cinco-color);
}

.project-card:hover .stick-v, .project-card:hover .stick-h {
  background-color: var(--bg-secundary-color);
}

.title-project-card {
  font-weight: unset;
  margin: 0;
}

.square-add-icon {
  height: 50px;
  width: 50px;
  background-color: var(--bg-seis-color);
  border: 2px solid var(--bg-cinco-color);
  border-radius: 3px;
  transition: background 0.3s;
}

.container-plus-icon {
  height: 20px;
  width: 20px;
}

.stick-v {
  height: 100%;
  width: 2px;
  background-color: var(--bg-cinco-color);
  transition: background 0.3s;
}

.stick-h {
  width: 100%;
  height: 2px;
  background-color: var(--bg-cinco-color);
  transition: background 0.3s;
}

.container-form-project {
  z-index: 1;
  height: 100%;
  display: flex;
}

.form-project {
  background-color: var(--bg-secundary-color);
  height: 450px;
  width: 600px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--bg-quaternary-color);
}

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
