@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
  --color-bg-main: #1E1E1E;
  --color-bg-surface: #262626;
  --color-bg-highlight: #E37E03;
  --color-bg-subtle: #626262;
  --color-bg-overlay: #ffffff0d;

  --color-text-main: #fff;
  --color-text-muted: #ffffff40;

  --color-border-default: #343A40;
}

html {
  scrollbar-color: var(--color-bg-surface) var(--color-bg-overlay);
}

.color-text-main {
  color: var(--color-text-main);
}

.caladea-regular {
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: normal;
}

.caladea-bold {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-style: normal;
}

.caladea-regular-italic {
  font-family: "Caladea", serif;
  font-weight: 400;
  font-style: italic;
}

.caladea-bold-italic {
  font-family: "Caladea", serif;
  font-weight: 700;
  font-style: italic;
}

.profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.profile-name {
  font-size: 14px;
  font-weight: 500;
}

.my-projects-font {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

.edit-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(22.5px, 47.5px);
}

.scroll-box-projects {
  overflow-y: auto;
  height: calc(100vh - 167.44px); /* ajusta o valor conforme a altura do topo */
  border: 10px solid transparent;
  border-left: 0;
  border-right: 0;
  list-style-type: none;
  padding: 0;
  scrollbar-color: var(--color-bg-surface) var(--color-bg-overlay);
}

.scroll-box-projects a li {
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.scroll-box-projects a li:hover {
  background-color: var(--color-bg-main);
}

.scroll-box-projects a {
  color: var(--color-text-main);
  text-decoration: none;
}

.icon-wrapper {
  position: relative;
  width: 76px;
  /* mesmo tamanho do maior svg */
  height: 76px;
}

.icon-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-wrapper-navbar {
  position: relative;
  margin-left: 2px;
  width: 30px;
  /* mesmo tamanho do maior svg */
  height: 30px;
}

.icon-wrapper-navbar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-icon-logo {
  width: 70px;
  height: 70px;
}

.small-icon-logo {
  width: 32px;
  height: 32px;
}

.big-icon-logo-navbar {
  width: 30px;
  height: 30px;
}

.small-icon-logo-navbar {
  width: 13.71px;
  height: 13.71px;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.bg-image-left {
  background-image: url(../images/bg-login-left.png);
}

.bg-image-right {
  background-image: url(../images/bg-login-right.png);
}

.remember-check:checked {
  accent-color: #e37e03;
}

.togglePassword {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.password-wrapper {
  position: relative;
}

.color-bg-main {
  background-color: var(--color-bg-main);
}

.color-bg-surface {
  background-color: var(--color-bg-surface);
}

.color-bg-highlight {
  background-color: var(--color-bg-highlight);
}

.search-icon {
  height: 30px;
  margin-left: 5px;
}

.search-bar {
  background-color: #00000026;
  height: 30px;
  padding-left: 20px;
  border: 1px solid #00000033;
}

.search-bar::placeholder {
  color: var(--color-bg-main);
}

.scroll-box {
  overflow-y: auto;
  height: 100%;
  border: 10px solid var(--color-bg-main);
}

.project-card {
  background-color: var(--color-bg-surface);
  height: 260px;
  width: 220px;
  margin: 25px 20px 30px 45px;
  border-radius: 15px;
  border: 1px solid var(--color-border-default);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.08);
  text-decoration: none;
  color: var(--text-secundary-color);
}

.project-card:hover .square-add-icon {
  background-color: var(--color-bg-subtle);
}

.project-card:hover .stick-v, .project-card:hover .stick-h {
  background-color: var(--color-bg-surface);
}

.transparent-text {
  color: var(--color-text-muted);
  font-weight: unset;
}

.square-add-icon {
  height: 50px;
  width: 50px;
  background-color: var(--color-bg-overlay);
  border: 2px solid var(--color-bg-subtle);
  border-radius: 3px;
  transition: background 0.3s;
}

.container-plus-icon {
  height: 20px;
  width: 20px;
}

.stick-v {
  height: 100%;
  width: 2px;
  background-color: var(--color-bg-subtle);
  transition: background 0.3s;
}

.stick-h {
  width: 100%;
  height: 2px;
  background-color: var(--color-bg-subtle);
  transition: background 0.3s;
}

.container-form-project {
  z-index: 1;
  height: 100%;
  display: none;
}

.form-project {
  background-color: var(--color-bg-surface);
  height: 425px;
  width: 640px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid var(--color-border-default);
}

.close-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#preview-bg-project {
  height: 200px;
  width: calc(50% - 1.5rem);
  background-color: var(--color-bg-highlight);
  border: .5px solid var(--color-border-default);
}

.pvw-card-content {
  height: min-content;
  width: 67px;
  padding: 4px;
  padding-top: 15px;
  padding-bottom: 4.5px;
  background-color: var(--color-bg-main);
  border: .5px solid var(--color-border-default);
  border-radius: 5px;
}

#pvw-container-icon {
  height: 27px;
  width: 100%;
  margin-bottom: 3px;
  background-color: var(--color-bg-highlight);
}

.icon-wrapper-pvw {
  position: relative;
  /* mesmo tamanho do maior svg */
  height: 27.5px;
}

.icon-wrapper-pvw svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-icon-logo-pvw {
  width: 20px;
  height: 20px;
}

.small-icon-logo-pvw {
  width: 9px;
  height: 9px;
}

.pvw-task {
  width: 100%;
  height: 12px;
  margin-bottom: 3px;
  background-color: var(--color-bg-surface);
  border: .5px solid var(--color-border-default);
}

#pvw-img-task {
  width: 100%;
  height: 50px;
  margin-bottom: 3px;
  background-color: var(--color-bg-highlight);
  background-image: url(../images/pvw-img-task.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.label-form-proj {
  font-size: 16px;
}

.label-form-proj label {
  margin-bottom: .25rem;
}

.form-input {
  width: 100%;
  background-color: var(--color-bg-overlay);
  border: 1px solid var(--color-border-default);
  font-size: 14px;
}

.form-input:focus {
  outline: none;
}

#form-textarea {
  display: flex;
  height: 100px;
  resize: none;
}

.form-input-submit {
  width: 100%;
  background-color: var(--color-bg-highlight);
  color: var(--color-bg-surface);
  border: 0;
  font-weight: 500;
}

.form-input-submit:hover {
  filter: brightness(1.2);
  background-color: var(--color-bg-highlight);
  color: var(--color-bg-surface);
  border: 0;
  font-weight: 500;
}

.container-color-option {
  width: 22%;
  height: 100%;
  border: .5px solid var(--color-border-default);
  border-radius: 5px;
  cursor: pointer;
}
